/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun. 8, 2020, 12:20:36 p.m.
    Author     : elham
*/


body{
    background-color: beige;

}
#footer{
    width:1000px;
    border: 1px solid white;
    background-color: #ffcccc;

}
#question{
    width:1000px;
    border: 1px solid white;
    background-color:  #ffcccc;
    font-size: 30px;
    color: white;

}
#options{
    width:1000px;
    border: 1px solid white;
    background-color: #006666;

}
#choiceA{
    width: 150px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #009999;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;

}
#choiceB{
    width: 150px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #009999;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;

}
#choiceC{
    width: 150px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #009999;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;

}
#choiceD{
    width: 150px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #009999;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;

}
#next_button{
    width: 170px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #ff9999;;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;

}
#myBtn
{
    width: 150px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #009999;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;
    display: inline;
}
#restart_btn{
    width: 150px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #009999;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;
    display: inline;
}
#score_btn{
    width: 150px;
    height: 50px;
    border: 1px solid #00ffff;
    border-radius: 20px;
    background-color: #009999;
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 20px 0 20px 0;
    display: inline;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#modal_msg{
    color: black;
}

